.container {
  border: 1px solid #e6f7ff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(14, 137, 255, 0.08);
  border-left-width: 5px;
  border-left-style: solid;

  &.concluded {
    background: #e0ffe0;
    border-left-color: #00FF00;
  }

  &.pending {
    background: #fff3e0;
    border-left-color: #FF7F00;
  }
}
