.divider {
  flex-shrink: 0;
  background-color: #e0e0e0;

  &.horizontal {
    height: 1px;
    width: 100%;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }

  &.light {
    background-color: #f5f5f5;
  }

  &.default {
    background-color: #e0e0e0;
  }
}
